<h1 mat-dialog-title>Edit Acme Global Programs</h1>

<mat-dialog-content>
    <h5><b>SUMMARY</b></h5>
    <mat-divider></mat-divider>
    <br>
    <div class="container-fluid">
        <div class="row mbtm-15 alternate-background">
            <div class="col-md-3"><label>Program</label>
                <div>
                    <mat-label>Deal Registration</mat-label>
                </div>
            </div>
            <div class="col-md-3"><label>Description</label>
                <div>
                    <mat-label>Deal Registration</mat-label>
                </div>
            </div>
            <div class="col-md-3"><label>Currency</label>
                <div>
                    <mat-label>USD</mat-label>
                </div>
            </div>
            <div class="col-md-3"><label>Status</label>
                <div>
                    <mat-label>Active</mat-label>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6 mbtm-15">
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 mbtm-15">
            <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <mat-checkbox class="example-margin">Program Eligiblity</mat-checkbox>
        </div>

        <div class="col-md-6">
            <mat-checkbox class="example-margin">EZ Update</mat-checkbox>
        </div>

        <div class="col-md-6">
            <mat-checkbox class="example-margin">Angular Form Active</mat-checkbox>
        </div>
    </div>

    <!--Add New Start-->
    <div class="add-new">

        <div class="row">
            <div class="col-md-6">
                <div class="title-addnew">
                    <h5><b>RECOMMENDED CONTENT </b> </h5>
                    <span>
                        <mat-icon aria-hidden="false" aria-label="help icon">help</mat-icon>
                    </span>
                </div>
            </div>
        </div>

        <!--Add New Rows Start-->

        <div class="row">
            <div class="col-md-6 ">
                <mat-form-field>
                    <mat-label>Content Text</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-5 ">
                <mat-form-field>
                    <mat-label>Content URL</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <div class="delete-button">
                    <button mat-raised-button color="warn">
                        <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
                    </button>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-md-6 ">
                <mat-form-field>
                    <mat-label>Content Text</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-5 ">
                <mat-form-field>
                    <mat-label>Content URL</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <div class="delete-button">
                    <button mat-raised-button color="warn">
                        <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
                    </button>
                </div>
            </div>



        </div>

        <!--Add New Rows End-->


    </div>

    <!--Add New End-->
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-raised-button color="primary">Update</button>
    <button mat-button mat-dialog-close>Close</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->

</mat-dialog-actions>