.mat-dialog-title {
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

:host ::ng-deep .alternate-background {
    padding: 10px;
}

:host ::ng-deep .alternate-background{
    background-color: hsla(0,0%,82.7%,.30980392156862746);
}

:host ::ng-deep h5{ font-size: 14px; margin: 10px 0;}

:host ::ng-deep .min-height-400 {
    min-height: 400px;
}

:host ::ng-deep mat-checkbox label{ font-weight: normal;}

/****** Main Styling *********/

:host ::ng-deep .mat-dialog-title{ text-align: center;}

:host ::ng-deep .mat-form-field{ width: 100%;}

:host ::ng-deep mat-checkbox.example-margin{ margin-bottom: 15px;}

.mbtm-15{ margin-bottom: 15px;}

:host ::ng-deep .add-new{ margin: 5px 0 0 0;}

:host ::ng-deep .add-new .mat-flat-button.mat-warn, :host ::ng-deep .add-new .mat-raised-button.mat-warn, :host ::ng-deep .add-new .mat-fab.mat-warn, :host ::ng-deep .add-new .mat-mini-fab.mat-warn{ color:#f44336; background-color: transparent; box-shadow:none; padding: 0; min-width: 0; line-height: 0;}

:host ::ng-deep .title-addnew{ display: flex; align-items:center; margin-top: 10px; margin-bottom: 10px;}

:host ::ng-deep .title-addnew span{ margin-left: 5px;}

:host ::ng-deep .title-addnew h5{ margin: 0;}

:host ::ng-deep .title-addnew span mat-icon{ font-size: 20px;}

:host ::ng-deep .delete-button{ display: flex; align-items:flex-end; margin-top: 15px;  flex-direction:column; height: 20px; }

:host ::ng-deep .mat-dialog-actions{ justify-content: flex-end;}

@media only screen and (max-width:767px){

    :host ::ng-deep .add-new .text-right{ text-align: left; margin-bottom: 20px;}

}