<div style="width: 1000px; padding:15px; background: #fff; margin: 0 auto;">
    <div class="container-fluid">

<!--Copy This Only Start-->        
<div class="row alternate-background">
    <div class="col-md-3">
        <div class="copy-module">
            <button class="copy-btn"><mat-icon>content_copy</mat-icon></button>
            <label>Vendor</label>
            <div><mat-label>Referral Registration</mat-label></div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="copy-module">
            <button class="copy-btn"><mat-icon>content_copy</mat-icon></button>
            <label>Vendor</label>
            <div><mat-label>Referral Registration</mat-label></div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="copy-module">
            <button class="copy-btn"><mat-icon>content_copy</mat-icon></button>
            <label>Vendor</label>
            <div><mat-label>Referral Registration</mat-label></div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="copy-module">
            <button class="copy-btn"><mat-icon>content_copy</mat-icon></button>
            <label>Vendor</label>
            <div><mat-label>Referral Registration</mat-label></div>
        </div>

    </div>

</div> 
<!--Copy This Only End-->   

</div>
</div>
