<div class="page-ui">
    <h1>Vartopia UI</h1>
    <div class="card-container">
        
        <a class="card" [routerLink]="['/redirect-ui']">
            <span>New Registration UI</span>
        </a>

        <a class="card" [routerLink]="['/copytable-ui']">
            <span>Copy Table</span>
        </a>

        <a class="card" [routerLink]="['/headerfooter-ui']">
            <span>Header Footer</span>
        </a>

        <a class="card" [routerLink]="['/ag-grid-ui']">
            <span>Ag Grid</span>
        </a>

    </div>
</div> 