
<div class="grid-wrapper">
<div class="grid-column">
    <h2>UI New Registration</h2>
    <button [routerLink]="['/redirect-ui']" mat-button>Basic</button>   
</div>
<div class="grid-column">
    <a [routerLink]="['/redirect-ui']">ui-newreg</a>   
</div>
<div class="grid-column">
    <a [routerLink]="['/redirect-ui']">ui-newreg</a>   
</div>
<div class="grid-column">
    <a [routerLink]="['/redirect-ui']">ui-newreg</a>   
</div>
<div class="grid-column">
    <a [routerLink]="['/redirect-ui']">ui-newreg</a>   
</div>
<div class="grid-column">
    <a [routerLink]="['/redirect-ui']">ui-newreg</a>   
</div>
</div>
